//DEFINES BUTTON STYLES
$primary_blue: #00519C;
$primary_orange: #F37833;
$dark_blue: #00203E;
$bright_blue: #0067c7;
$white: #F8F8F8;
$light-grey: #cdcdcd;
$grey: #B6BABE;
$black: #000000;

$margin-top: 85px;
$margin-bottom: 0px;
$curve: 40px;

.btn-primary {
  font-family: 'Inter';
  font-weight: 525;
  font-size: 18px;
  width: 180px;
  height: 55px;

  left: calc(50% - 180px/2 + 2px);
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: $bright_blue;
  background-color: transparent;
  border: 3px solid $bright_blue;
  border-radius: $curve;

  display: flex;
  position: relative;
  justify-content: center;
  top: 0px;
}

.btn-primary:hover {
  color: $white;
  background-color: $bright_blue;
  border: 3px solid $bright_blue;
}

.btn-secondary {
  font-family: 'Inter';
  font-weight: 525;
  font-size: 18px;
  width: 180px;
  height: 55px;

  left: calc(50% - 180px/2 + 2px);
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: $grey;
  background-color: transparent;
  border: 3px solid $grey;
  border-radius: $curve;

  display: flex;
  position: relative;
  justify-content: center;
  top: 0px;
}

.btn-secondary:hover {
  color: $white;
  background-color: $grey;
  border: 3px solid $grey;
}

.btn-transparent {
  width: 180px;
  height: 30px;

  left: calc(50% - 180px/2 + 2px);
  margin-top: 0px;
  margin-bottom: 0px;

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: $primary_orange;
  background-color: transparent;
  border: transparent;
  border-radius: $curve;
  transition: 5ms;

  display: flex;
  position: relative;
  justify-content: center;
  top: 0px;

}

.btn-transparent:hover {
  color: $bright_blue;
  background-color: transparent;
  border: transparent;
  transition: 5ms;
}

.btn-transparent:active {
  color: $bright_blue;
  background-color: transparent;
  border: transparent;
  transition: 5ms;

}

.btn-primary-small {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0px;
  width: 120px;
  height: 35px;
  //left: calc(50% - 180px/2 + 2px);

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: $white;
  background-color: $bright_blue;
  border: 3px solid $bright_blue;
  border-radius: $curve - (35/55);

  //display: flex;
  //position: relative;
  //justify-content: right;
  //top: 0px;
}

.btn-primary-small:hover {
  color: $white;
  background-color: $primary_orange;
  border: 3px solid $primary-orange;
}

.btn-social-media-icon {
  width: 40px;
  height: 40px;

  position: relative;
  display: inline;
  margin-inline: 5%;
  left: 0px;

  background: transparent;
  border: transparent;
}

.btn-social-media-icon:hover {
  background: transparent;
  border: transparent;
}

/* Resize for shrunk desktop window */
@media screen and (max-width: 925px) {
  .btn-social-media-icon {
    margin-inline: 2%;
  }
}