/*
Pulled from: https://bbbootstrap.com/snippets/social-media-icons-footer-54412302
*/

#footer {
    margin-top: 10vh;
    background: #00203E;
    padding-top: 8vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.column-container {
    width: auto;
    height: 100px;

    position: relative;
    bottom: 0px;
}

.row-container {
    width: 100%;
    height: 50%;

    position: relative;
    top: 0px;
}

//Solar Gators logo
.left-aligned-container {
    width: 130px;
    height: auto;

    position: absolute;
    bottom: 0px;
    left: 10px;
}

//Container for social media buttons
.logos {
    width: 100%;
    height: 40px;

    position: absolute;
    bottom: 0px;
}

//Container for email and address
.right-aligned-container {
    width: auto;
    height: auto;

    position: absolute;
    bottom: 0px;
    right: 10px;

}

.text {
    width: auto;
    height: auto;
    right: 0;
    botton:0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #EDEBE8;
    display: flex;
    align-items: center;
    text-align: right;
}

.app-icon {
    height: 100%;
    width: auto;

    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    right: 40%;
}

/* Resize for larger mobile devices */
@media screen and (max-width: 768px) {
    #footer {
        margin-top: 10vh;
        padding-top: 8vh;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-bottom: 5vh;
    }
}

/* Resize for mobile devices */
@media screen and (max-width: 600px) {
    #footer {
        height: 150px;
        padding-top: 3vh;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-bottom: 2vh;
    }

    .logos {
        width: 100%;
        height: 25%;

        position: relative;
        display: flex;
        justify-content: center;
        //margin: 10%;
    }

    .left-aligned-container {
        width: 130px;
        height: auto;

        position: absolute;
        bottom: 0px;
        left: 10px;

    }

    .right-aligned-container {
        position: absolute;
        bottom: 0px;
        right: 10px;
    }

    .text {
        font-size: 12px;
    }


}
