@import "./Button.scss";
@import "./Header.scss";
$content1-margin: 0px;
$no-margin: 0;

.home-header-img {
    width: 100%;
    height: 36vw;
    background: linear-gradient(0deg, rgba(0, 32, 62, 0.25), rgba(0, 32, 62, 0.25)), url(../assets/images/car_pics/sunrider/2022/car3_fl_gators.JPG), no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 33%;

    display: flex;
    position: relative;
    align-items: center;
}

/* Sections of Page (container) */
.section {
    position: relative;
    justify-content: center;
    align-content: center;

    width: 100%;
    height: auto;

    margin: 0;
    padding: 10vw 8vw 8vw 8vw;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}

#sponsor_logos_half {
    padding: 0;
    display: inline;
}

.mission-statement {
    margin: 0 2vw;
    padding: 0;
    justify-content: center;
    width: 20vw;
}

/*  Officer Carousel Animation
    source: https://codepen.io/studiojvla/pen/qVbQqW
*/
@mixin blue-gradient {
    background: linear-gradient(to right,  $dark_blue 0%, transparent 100%);
}
$animationSpeed: 50s;

// Animation
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}

// Officer Slide Styling
.slider {
    background: $dark_blue;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 90%;

    &::before,
    &::after {
        @include blue-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 100px;
        width: 250px;
    }

    //Container
    .headshot {
        position: relative;
        width: 200px;
        height: 300px;
        left: 65px;
        margin-top: $no-margin;
        margin-bottom: $no-margin;
        margin-right: 65px;

        box-shadow: 5px 20px 20px 5px rgba(0, 0, 0, .35);
     }

    //Image in container
    .headshot-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
    }
}

/* Container for Car Images */
.car-cards {
    justify-content: center;
    margin-top: $content1-margin;
    margin-bottom: $content1-margin - 10px;
}

/* Container for Individual Car Image */
.car-card {
    position: relative;
    width: 26%;
    height: 300px;
    margin: 0 3%;
    transition: 0.5s ease;

    justify-content: center;
    display: flex;
    background-color: transparent;
    border: 0px;

    overflow: hidden;
}

/* Car Image */
.car-card-img {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s ease;
    object-fit: cover;
    background-position: center center;
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: $dark_blue;
}

//Car Name
.overlay-text-header {
    color: $white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40%;
    top: 20%;
    justify-content: center;
}

//Car Years
.overlay-text-body {
    color: $white;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0;
    justify-content: center;
}

//when hovering over car card, adjusts overlay opacity
.car-card:hover .overlay{
    opacity: .75;
}

.car-card:hover {
    box-shadow: 0 20px 20px 5px rgba(0, 0, 0, .25);
    transition: 0.5s ease;
    transform: translate(0, -1rem);
}


/* Resize for large tablet - scale down 25% */
@media screen and (max-width: 768px) {
    .slider {
        .headshot {
            width: 160px;
            height: 240px;
        }
    }

    .car-card {
        height: 200px;
    }
}

//Resize text for mobile
@media screen and (max-width: 425px) {
    .home-header-img {
        height: 50vw;
    }
    .section {
        padding: 8vw 3vw 7vw;
    }

    .mission-statement {
        width: 90vw;
    }
    .slider {
        margin-bottom: 10px;
        &::before,
        &::after {
            width: 110px;
        }
        .headshot {
            width: 100px;
            height: 150px;
            margin-right: 32px;
        }
    }
    .car-card {
        width: 100%;
        height: 35vw;
        margin-bottom: 40px;
    }

    .overlay {
        opacity: .75;
        padding-top: 15px;
    }

    .overlay-text-body {
        margin-top: 10px;
    }

}
