@import "./Button.scss";
@import "./Header.scss";
$content1-margin: 0px;
$no-margin: 0;

.home-header-img {
    width: 100%;
    height: 36vw;
    //people/team23/team6.JPG
    //background: linear-gradient(0deg, rgba(0, 32, 62, 0.25), rgba(0, 32, 62, 0.25)), url(../assets/images/car_pics/car3_finishline.jpg), no-repeat center center fixed;
    background: linear-gradient(0deg, rgba(0, 32, 62, 0.25), rgba(0, 32, 62, 0.25)), url(../assets/images/car_pics/car3_fl_gators.JPG), no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 33%;

    display: flex;
    position: relative;
    align-items: center;
}

/* Sections of Page (container) */
.section {
    position: relative;
    justify-content: center;

    width: 100%;
    height: auto;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: 0;

    $section-padding-top: 120px;
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-top - 10;
    padding-left: $section-padding-top * 0.75;
    padding-right: $section-padding-top * 0.75;

}

.mission-statement {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1.5%;
    margin-right: 1.5%;

    justify-content: center;
    object-fit: cover;
    flex: 0 0 20%;      /* each blurb will be 20% width */
}

/*
    Officer Carousel Animation
    source: https://codepen.io/studiojvla/pen/qVbQqW
*/
@mixin blue-gradient {
    background: linear-gradient(to right,  $dark_blue 0%, transparent 100%);
}

$animationSpeed: 50s;

// Animation
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
    background: $dark_blue;
    //box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100%;
    margin: auto;
    margin-top: $content1-margin;
    margin-bottom: $content1-margin - 10px;
    overflow: hidden;
    position: relative;
    width: 90%;

    &::before,
    &::after {
        @include blue-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 100px;
        width: 250px;
    }

    //Container
    .headshot {
        position: relative;
        width: 200px;
        height: 300px;
        left: 65px;
        margin-top: $no-margin;
        margin-bottom: $no-margin;
        margin-right: 65px;

        box-shadow: 5px 20px 20px 5px rgba(0, 0, 0, .35);
     }

    //Img in container
    .headshot-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
    }
}

/* Container for Car Images */
.car-cards {
    justify-content: center;
    margin-top: $content1-margin;
    margin-bottom: $content1-margin - 10px;
}

/* Container for Individual Car Image */
.car-card {
    position: relative;
    width: 26%;
    height: 300px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0px;
    transition: 0.5s ease;

    justify-content: center;
    display: flex;
    background-color: transparent;
    border: 0px;

    overflow: hidden;
}

/* Car Image */
.car-card-img {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s ease;
    object-fit: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: $dark_blue;
}

//Car Name
.overlay-text-header {
    color: $white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40%;
    top: 20%;
    justify-content: center;
}

//Car Years
.overlay-text-body {
    color: $white;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50%;
    margin-top: 0;
    margin-bottom: 0px;
    justify-content: center;
}

//when hovering over car card, adjusts overlay opacity
.car-card:hover .overlay{
    opacity: .75;
}

.car-card:hover {
    //left down blur scale color
    box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, .25);
    margin-top: -20px;
    transition: 0.5s ease;
}



