@import "./Button.scss";
$card-width: 300px;
$card-height: 300px;

/* Orange Button */
.btn-orange {
    //@include button-variant(#f2711c, #f2711c, #f26202);
}
/* Subscription Button - depreciated */
.btn-subscription{
    //@include button-variant(#808080, #808080, #2185d0);
    font-family: 'Inter';
    font-size: 1.4em;
    margin-top: 1rem;
    width: 100%;
    height: 85%;
}

//Sections of Page (container)
.section {
    position: relative;
    width: 100%;
    height: 460px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #FFFFFF;
}

/* Heading 2 (for Sections)*/
.heading2-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #F37833;

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.mission-statement {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

    margin-top: 50px;
    margin-left: 3em;
    margin-bottom: 50px;
    object-fit: cover;
    flex: 0 0 20%;      /* each blurb will be 20% width */
}

/*
    Officer Carousel Animation
    source: https://codepen.io/studiojvla/pen/qVbQqW
*/
@mixin blue-gradient {
    background: linear-gradient(to right,  #00203E 0%, rgba(255,255,255,0) 100%);
}

$animationSpeed: 50s;

// Animation
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
    background: #00203E;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100%;
    margin: auto;
    margin-bottom: 50px;
    overflow:hidden;
    position: relative;
    width: 90%;

    &::before,
    &::after {
        @include blue-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 100px;
        width: 250px;
    }

    //Container
    .headshot {
         position: relative;
         width: 200px;
         height: 300px;
         left: 65px;
         margin-top: 50px;
         margin-right: 65px;

     }

    //Img within container
    .headshot-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
    }
}

.car-cards {
    justify-content: center;
    margin-bottom: 20px;
}

.car-card {
    position: relative;
    width: 26%;
    height: 300px;
    margin: 3%;
    justify-content: center;
    display: flex;
    background-color: transparent;
    border: 0px;

    overflow: hidden;
}

.car-card-img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .5s ease;
    object-fit: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    transition: 0.2s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #2d4278;
}

.overlay-text-header {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40%;
    top: 20%;
    justify-content: center;
}

.overlay-text-body {
    color: white;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50%;
    margin-top: 0;
    margin-bottom: 0px;
    justify-content: center;
}

.car-card:hover .overlay{
    opacity: .75;
}



/* 
  Create inverse button
*/
.btn-inverse {
    //@include button-variant(transparent, white, white);
    font-family: 'Inter';
}

/* 
  Configure break line
*/
.home-break-line {
    margin-top: 10%;
}

//horizontal line
hr {
    border-style: inset;
    border-width: 1px;
}


/* 
  Homepage Stats Icons CSS
*/
.home-icon {
    font-size: 2em;
}

.home-icon-text {
    font-size: 0.6em;
}



/* 
  Custom button for home cards
*/
.btn-home-card {
    //@include button-variant(transparent, #2185d0, #2185d0);
    color: #2185d0;
    font-family: 'inter';
}


/* 
  Home Card
*/
.home-card {
    overflow: hidden;
    max-width: $card-width;
}

.home-card-images {
    max-width: $card-width;
}

.home-card-images:hover {
    transition: 0.5s;
    transform: translateX(-100%);
}
.home-card-images:not( :hover ) {
    transition: 0.5s;
    transform: translateX(0px);
}

.home-card-body {
    font-size: 0.8em;
}

.home-card-hidden {
    position: absolute;
    left: 100%;
}
.home-card-visible {
    position: absolute;
}

@media (min-width: 1200px) {
    .container-home-cards {
        max-width: 2500px !important;
    }
}


