.team-section {
    background: url(../assets/images/img3.jpg), no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;

    display: flex;
    position: relative;
    align-items: center;
}

