@import "~bootstrap/scss/bootstrap";
@import "./content/styles/Home.scss";
@import "./content/styles/Footer.scss";
@import "./content/styles/About.scss";
@import "./content/styles/Sponsors.scss";
@import "./content/styles/Team.scss";
@import "./content/styles/Donate.scss";
@import "./content/styles/Button.scss";

body {
  background: $white;
  margin: 0px;
  padding: 0px;
}

.regular-text {
  font-size: 1.2em;
  line-height: 28px;
}

.btn-circle { 
  padding: 7px 10px;
  border-radius: 25px;
  text-align: center;
}
