@import "~bootstrap/scss/bootstrap";
@import "./content/styles/Home.scss";
@import "./content/styles/Footer.scss";
@import "./content/styles/About.scss";
@import "./content/styles/Sponsors.scss";
@import "./content/styles/Team.scss";
@import "./content/styles/Donate.scss";

//@font-face {
//  font-family: 'Inter';
//  //src: url('./content/assets/fonts/radnika-medium-webfont.woff2') format("woff2"), url('./content/assets/fonts/radnika-medium-webfont.woff') format("woff");
//  src: url('./content/assets/fonts/Inter-VariableFont.ttf') format("ttf");
//  font-weight: normal;
//  font-style: normal;
//}


body {
  background: #ECE9E6;

  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);

  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.regular-text {
  font-size: 1.2em;
  line-height: 28px;
}

.btn-circle { 
  padding: 7px 10px;
  border-radius: 25px;
  text-align: center;
}
