:root {
  /* Define global variables */
  --color-dark_blue: #00203E;
  --color-primary_blue: #00519C;
  --color-primary_orange: #F37833;
  --color-bright_blue: #0067c7;
  --color-white: #F8F8F8;
  --color-light-grey: #cdcdcd;
  --color-grey: #B6BABE;
  --color-black: #000000;
}

.horizontal-line {
  width: 80%;
  height: 1px;
  background: var(--color-light-grey);
  margin: 0 10%;
}

.nav-link {
  margin: 25px 10px 20px;
  padding: 0;
  font-size: 1.25rem;
}

/*Resize header & text for mobile*/
@media screen and (max-width: 425px) {
  .nav-link {
    padding: 0;
    margin: .5rem;
    line-height: 18px;
    font-size: 1rem;
  }
}

/*Define normal Inter font*/
@font-face {
  font-family: 'Inter';
  src: local("Inter-Variable"), url("./content/assets/fonts/Inter-VariableFont.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
  font-variation-settings: normal;
}

/*Define medium Inter font*/
@font-face {
  font-family: 'Inter';
  src: local("Inter-Variable"), url("./content/assets/fonts/Inter-VariableFont.woff2") format("woff2-variations");
  font-weight: 500;
  font-style: normal;
  font-variation-settings: normal;
}

/*Define semi-bold Inter font*/
@font-face {
  font-family: 'Inter';
  src: local("Inter-Variable"), url("./content/assets/fonts/Inter-VariableFont.woff2") format("woff2-variations");
  font-weight: 600;
  font-style: normal;
  font-variation-settings: normal;
}

/*Define bold Inter font*/
@font-face {
  font-family: 'Inter';
  src: local("Inter-Variable"), url("./content/assets/fonts/Inter-VariableFont.woff2") format("woff2-variations");
  font-weight: bold;
  font-style: normal;
  font-variation-settings: normal;
}

/*Define light italic Inter font*/
@font-face {
  font-family: 'Inter';
  src: local("Inter-Variable"), url("./content/assets/fonts/Inter-VariableFont.woff2") format("woff2-variations");
  font-weight: 300;
  font-style: italic;
  font-variation-settings: normal;
}

/*Define bold italic Inter font*/
@font-face {
  font-family: 'Inter';
  src: local("Inter-Variable"), url("./content/assets/fonts/Inter-VariableFont.woff2") format("woff2-variations");
  font-weight: bold;
  font-style: italic;
  font-variation-settings: normal;
}

/*Define extra bold italic Inter font*/
@font-face {
  font-family: 'Inter';
  src: local("Inter-Variable"), url("./content/assets/fonts/Inter-VariableFont.woff2") format("woff2-variations");
  font-weight: bold;
  font-style: italic;
  font-variation-settings: normal;
}
